.click-item {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px;
  margin-top: 200px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  top: 0px;
  left: 30px;
}

.click-item:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25);
  transition: 0.1s;
}



.minimize-guest {
  animation: minimize-guest 1s forwards;
}

@keyframes minimize-guest {
  0% {top: 0px; position: relative;}
  100% {top: -120px; left: 250px; height: 100px;
  width: 100px; position: relative;}
}

.guest-chosen {
  animation: guest-chosen 1s forwards;
}

@keyframes guest-chosen {
  0% {top: 0px; position: relative;}
  100% {top: -120px; left: 40px; height: 200px;
  width: 200px; position: relative;}
}
/*@-webkit-keyframes move {
    0%  {top: 0px;}
  100% {top: 200px;}
}*/

@media (max-width: 750px) {
  .click-item {
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .click-item {
    margin: 10px;
  }
}
