.click-item {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px;
  margin-top: 200px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}

.click-item:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25);
  transition: 0.1s;
}

.member {
  animation: member 2s forwards;
}

@keyframes member {
  0% {top: 0px; position: relative;}
  100% {top: -130px; left: -150px; height: 100px;
  width: 100px; position: relative;}
}

/*@-webkit-keyframes move {
    0%  {top: 0px;}
  100% {top: 200px;}
}*/

@media (max-width: 750px) {
  .click-item {
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .click-item {
    margin: 10px;
  }
}
