.scan {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 400px;
  cursor: pointer;
  position: absolute;
  top:380px;
  left:0px;
}

.scan:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25);
  transition: 0.1s;
}


