.form {
  position: absolute;
  top: 500px;
  left: 400px;
}

input {
  padding-bottom: 10px;
  border-radius: 20px;
  width: 400px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  background:none;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  letter-spacing: 2px;
}

#submit {
  background-color: white;
  color: #1E90FF;
}

::placeholder, #name {
  color: white;
} 